Environment=NODE_ENV=production
Environment=PORT=
Environment=PING_ENABLED=
Environment=TOMRA_LOGIN=
Environment=TOMRA_PASSWORD=
Environment=SYNC_INTERVAL_MIN=30
Environment=PUPPETEER_CACHE_DIR=
Environment=SESSION_SECRET=
Environment=BINOQ_LOGIN=
Environment=BINOQ_PASSWORD=
Environment=BINOQ_FIREBASE_KEY=
Environment=BINOQ_SYNC_INTERVAL_MIN=5
Environment=SD_URL=
Environment=SD_API_KEY_1=
Environment=SD_API_KEY_2=